<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: auto;
            width: 95%;
            height: 100vh;
        }
        
    </style>
</head>
<body>
    <nav>
        <ul><a href="/login">login</a></ul>
        <ul><a href="/signup">signup</a></ul>
        <ul><a href="about.html">about us </a></ul>
        <ul><a href="contact.html">contact us</a></ul>

    </nav>
    <img src="pingpong.jpg" alt="table tennis picture">
    <footer>copyright </footer>

</body>
</html>