<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Ticket</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        .ticket {
            border: 2px solid #000;
            padding: 20px;
            display: inline-block;
            text-align: left;
            margin: 20px auto;
        }
        .hidden {
            display: none;
        }
        .qrcode{
            border: 2px solid black;
            border-radius: 10px;

        }
    </style>
</head>
<body>
    <div class="ticket" id="ticket">
        <h2>Table Tennis Booking Confirmation</h2>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Tables Booked:</strong> {{ tables }}</p>
        <p><strong>Date:</strong> {{ date }}</p>
        <p><strong>From :</strong> {{ from_time }}</p>
        <p><strong>To:</strong> {{ to_time }}</p>
        <img class="qrcode" src="{{ url_for('static', filename='images/' + name + '.jpg') }}?v={{ random() }}" alt="QR Code" width="100px" height="100px">

    </div>

    <button onclick="printTicket()">Print Ticket</button>
    <br>
    


    <script>
        function printTicket() {
            const button = document.querySelector("button");
            button.classList.add("hidden"); 
            window.print();
            button.classList.remove("hidden"); 
        }
    </script>
</body>
</html>
